body{
    background-color: white;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-left: 30%;
}
.quadrado{
    width: 700px;
    height: 700px;
    background-color: aquamarine;
    align-items: center;
    border: 1px solid;
    border-radius: 2px solid black;
}